---
layout: archive
title: "Posts by Collection 4"
permalink: /collections/
author_profile: true
---

{% for collection in site.collections %}
{% unless collection.output == false or collection.label == "posts" %}
  <h2>Items from  <a href="{{ collection.label }}">{{ collection.Title }}</a></h2>
  <ul>
    {% for item in collection.docs %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
  {% endunless %}
{% endfor %}

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.Title }}{% endcapture %}
    {% if label != written_label %}
      <!-- <h1 id="{{ label | slugify }}" class="archive__subtitle"> <a href="{{ collection.label }}"># {{ label }}</a></h1> -->
      </br></br></br>
      <h1 id="{{ label | slugify }}"><a href="{{ collection.label }}"># {{ label }}</a></h1>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}